<div class="wrapper">
<!-- 左半分 -->
  <div class="side-bar">
<!-- ユーザー名とチャット作成リンク -->
    <div class="side-bar-top">
      <%= link_to current_user.name, edit_user_path(current_user), class:"user-name" %>
      <%= link_to "チャットを生成する", new_room_path, class:"chat-start-btn"%>
    </div>
<!-- チャットルーム一覧表示 -->
    <div class="side-bar-contents">
      <%= render "side_bar"%>
    </div>
  </div>
<!-- 右半分 -->
  <div class="main-chat">
<!-- チャットルーム概要 -->
    <div class="main-chat-top">
    <div class="room-summary"><%= @room.name %></div>
    <%= link_to "チャットを終了する", room_path(@room), method: :delete, class:"chat-end-btn" %>
    </div>
<!-- メッセージ一覧 -->
    <div class="main-chat-contents">
      <%= render "main_chat"%>
    </div>
<!-- 入力フォーム -->
    <div class="main-chat-form">
        <div class="input-box">
          <%= form_with model: [@room, @message], class: 'input-box', local: true do |f| %>
          <div><%= f.text_field :content, class: 'text-box', placeholder: 'type a message' %></div>
          <div><label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
          <%= f.submit '送信', class: 'submit-btn' %></div>
          <% end %>
        </div>
      </div>
  </div>
</div>